diff_ep_loop_hard_label.ipynb
diff_ep_loop_soft_label.ipynb


knowledge_distillation/GAN_models
knowledge_distillation/generated_data
knowledge_distillation/GAN_model.py
knowledge_distillation/GAN_generate_data.py
knowledge_distillation/evaluate_GAN_data.py